<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url shorter</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1>Url Shorter</h1>

 



   <form action="/" method="post">
       <input type="url" name="url" placeholder="enter url here" id="url">
       <input type="submit" value="createUrl">
   </form>

   <div class="">
      </div>
</body>
</html>